
<!DOCTYPE html>
<html lang="en">{% block html_attribs %}{% endblock html_attribs %}


<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduHome - Education Is About Academic Excellence</title>
  
    <!-- 
      - favicon
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  
    <!-- 
      - custom css link
    -->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/card.css">
  
    <!-- 
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  
    <!-- 
      - preload images
    -->
    <link rel="preload" as="image" href="#">
    <link rel="preload" as="image" href="#" media="min-width(768px)">
    <link rel="preload" as="image" href="#" media="min-width(768px)">
    
</head>
<body>
   <header class="header" data-header>
    <div class="container">

      <h1>
        <a href="#" class="logo">EduHome</a>
      </h1>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">
          <a href="#" class="logo">EduHome</a>

          <button class="nav-close-btn" aria-label="Close menu" data-nav-toggler>
            <ion-icon name="close-outline"></ion-icon>
          </button>
        </div>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="#home" class="navbar-link" data-nav-toggler>Home</a>
          </li>

          <li class="navbar-item">
            <a href="#about" class="navbar-link" data-nav-toggler>About</a>
          </li>

          <li class="navbar-item">
            <a href="#courses" class="navbar-link" data-nav-toggler>Courses</a>
          </li>

          <li class="navbar-item">
            <a href="#event" class="navbar-link" data-nav-toggler>Event</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link" data-nav-toggler>Blog</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link" data-nav-toggler>Contact</a>
          </li>

        </ul>

      </nav>

      <div class="header-actions">

        <button class="header-action-btn" aria-label="Open search" data-search-toggler>
          <ion-icon name="search-outline"></ion-icon>
        </button>

        <a href="#" class="header-action-btn login-btn">
          <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

          <span class="span">Login / Register</span>
        </a>

        <button class="header-action-btn nav-open-btn" aria-label="Open menu" data-nav-toggler>
          <ion-icon name="menu-outline"></ion-icon>
        </button>

      </div>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>
    <div style="margin: 2rem;margin-top: 5rem;">
        <section class="main course" >
        
            <div class="container py-2">
                <div class="div py-2">
                    <h1>Recommended courses </h1>
                </div>
        
                {% for course in rec_list %}
                
                <div class="postcard">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src={{course.image_url}} alt="Image Title" style="object-fit: fill;"/>
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title "><a href="#">{{ course.title }}</a></h1>
                        
                        
                        <div class="postcard__preview-txt">{{ course.description_short }}
                        </div>
                        <div>
                            <ul class="postcard__tagbox">
                                <li class="tag__item ">
                                    <a href="#" class="btn btn-primary">
                                        <span class="span"><i class="bi bi-folder-plus" style="padding-right:  10px; font-size: 18px; font-weight: 400;"></i>Add to list</span>
                          
                                      </a>
                          
                                </li>
                              
                                <li class="tag__item ">
                                    <a href="#" class="btn btn-primary">
                                        <span class="span">View More<i class="bi bi-arrow-right-circle" style="padding-left: 10px; font-size: 18px;font-weight: 400;"></i></span>
                          
                                      </a>
                                </li>
                            </ul>
                            
                          </div>
                        
                    </div>
                
                    <div class="extraInfo">
                        <ul>
                            <li class="nowrap padding-vert-xsmall padding-horz-xxsmall  row horz-align-left"><i class="bi bi-layers-fill"style="padding-right:10px;"></i>{{ course.platform }}</li>
                            <li class="nowrap padding-vert-xsmall padding-horz-xxsmall border-top border-gray-light row horz-align-left"><span><i class="bi bi-clock-fill"style="padding-right:10px;"></i>{{ course.duration }}</span></li>
                            <li class="nowrap padding-vert-xsmall padding-horz-xxsmall border-top border-gray-light row horz-align-left"><i class="bi bi-bar-chart"style="padding-right:10px;"></i>{{ course.difficulty }}</li>
                            <li class="nowrap padding-vert-xsmall padding-horz-xxsmall border-top border-gray-light row horz-align-left"><i class="bi bi-globe" style="padding-right:10px;"></i>English</li>
                            <li class="nowrap padding-vert-xsmall padding-horz-xxsmall border-top border-gray-light row horz-align-left"><i class="bi bi-coin"style="padding-right:10px;"></i>{{ course.free_option }}</li>
                        </ul>
                    </div>
                </div>
        
        
                {% endfor %}
        
        
                            
        
            
        </section>

    </div>
    


   
</body>

</html>
