<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduNexus</title>

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="../static/image/favicon.svg" type="image/svg+xml">

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="team.css">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">

    <!-- 
    - preload images
  -->
    <link rel="preload" as="image" href="../static/image/hero-banner.png">
    <link rel="preload" as="image" href="../static/image/hero-abs-1.png" media="min-width(768px)">
    <link rel="preload" as="image" href="../static/image/hero-abs-2.png" media="min-width(768px)">

</head>

<body id="top">
            <!-- 
        - #CATEGORY
      -->

            <section class="section category" aria-label="category">
                <div class="container">

                    <p class="section-subtitle">Course providers</p>



                    <ul class="grid-list">

                        <li>
                            <div class="category-card">

                                <div class="card-icon">
                                    <img src="../static/image/udemy.svg" style="width:50px;height:40px;">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">
                                        <a href="https://www.udemy.com/" target="_blank">Udemy</a>
                                    </h3>

                                    <span class="card-meta">13417 Course</span>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="category-card">

                                <div class="card-icon">
                                    <img src="../static/image/coursera-icon.png" style="width:50px;height:40px;">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">
                                        <a href="https://www.coursera.org/" target="_blank">Cousera</a>
                                    </h3>

                                    <span class="card-meta">1312 Course</span>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="category-card">

                                <div class="card-icon">
                                    <img src="../static/image/udacity.png" style="width:50px;height:50px;">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">
                                        <a href="https://www.udacity.com/" target="_blank">Udacity</a>
                                    </h3>

                                    <span class="card-meta">263 Course</span>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="category-card">

                                <div class="card-icon">
                                    <img src="../static/image/edureka.png" style="width:50px;height:50px;">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">
                                        <a href="https://www.edureka.co/" target="_blank">Edureka</a>
                                    </h3>

                                    <span class="card-meta">165 Course</span>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="category-card">

                                <div class="card-icon">
                                    <img src="../static/image/linkedin.png" style="width:50px;height:50px;">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">
                                        <a href="https://www.linkedin.com/learning/?trk=nav_neptune_learning&"
                                            target="_blank">Linkedin</a>
                                    </h3>

                                    <span class="card-meta">1574 Course</span>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="category-card">

                                <div class="card-icon">
                                    <img src="../static/image/microsoft.png" style="width:50px;height:50px;">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">
                                        <a href="https://learn.microsoft.com/en-us/certifications/"
                                            target="_blank">Microsoft</a>
                                    </h3>

                                    <span class="card-meta">385 Course</span>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="category-card">

                                <div class="card-icon">
                                    <img src="../static/image/aws.png" style="width:50px;height:50px;">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">
                                        <a href="https://aws.amazon.com/?nc2=h_lg" target="_blank">AWS</a>
                                    </h3>

                                    <span class="card-meta">548 Course</span>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="category-card">

                                <div class="card-icon">
                                    <img src="../static/image/freecodecamp.png" style="width:50px;height:50px;">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">
                                        <a href="https://www.freecodecamp.org/" target="_blank">freecodeCamp</a>
                                    </h3>

                                    <span class="card-meta">517 Course</span>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="category-card">

                                <div class="card-icon">
                                    <img src="../static/image/EdX.png" style="width:50px;height:50px;">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">
                                        <a href="https://www.edx.org/" target="_blank">edX</a>
                                    </h3>

                                    <span class="card-meta">1183 Course</span>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="category-card">

                                <div class="card-icon">
                                    <img src="../static/image/datacamp.jpg" style="width:50px;height:50px;">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">
                                        <a href="https://www.datacamp.com/" target="_blank">dataCamp</a>
                                    </h3>

                                    <span class="card-meta">402 Course</span>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="category-card">

                                <div class="card-icon">
                                    <img src="../static/image/futurelearn.png" style="width:50px;height:50px;">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">
                                        <a href="https://www.futurelearn.com/" target="_blank">futurelearn</a>
                                    </h3>

                                    <span class="card-meta">554 Course</span>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="category-card">

                                <div class="card-icon">
                                    <img src="../static/image/pluralsight.png" style="width:50px;height:50px;">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">
                                        <a href="https://www.pluralsight.com/" target="_blank">Pluralsight</a>
                                    </h3>

                                    <span class="card-meta">180 Course</span>
                                </div>

                            </div>
                        </li>

                    </ul>

                </div>
            </section>

        </article>
    </main>





    <!--
    - #FOOTER
  -->

    <footer class="footer">

    </footer>





    <!-- 
    - #BACK TO TOP
  -->

    <a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
        <ion-icon name="arrow-up"></ion-icon>
    </a>





    <!-- 
    - custom js link
  -->
    <script src="../static/script.js" defer></script>

    <!-- 
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>