<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EduNexus</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="../static/image/favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="../static/style.css">

	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap" rel="stylesheet">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="../static/image/hero-banner.png">
  <link rel="preload" as="image" href="../static/image/hero-abs-1.png" media="min-width(768px)">
  <link rel="preload" as="image" href="../static/image/hero-abs-2.png" media="min-width(768px)">

</head>

<body id="top">
  <main>
    <article>

      <!--
        - #HERO
      -->

      <section class="hero" id="home" aria-label="hero" style="background-image: url('../static/image/hero-bg.jpg')">
        <div class="container">

          <div class="hero-content">

            <p class="section-subtitle">Learn. Grow. Succeed. Together.</p>

            <h2 class="h1 hero-title">Empowering Minds:<br>Learn Anytime, Anywhere!</h2>


          </div>

          <figure class="hero-banner">

            <img src="../static/image/hero-banner.png" width="500" height="500" loading="lazy" alt="hero image"
              class="w-100">

            <img src="../static/image/hero-abs-1.png" width="318" height="352" loading="lazy" aria-hidden="true"
              class="abs-img abs-img-1">

            <img src="../static/image/hero-abs-2.png" width="160" height="160" loading="lazy" aria-hidden="true"
              class="abs-img abs-img-2">

          </figure>

        </div>
      </section>
    </article>
  </main>

  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

  </footer>
  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
    <ion-icon name="arrow-up"></ion-icon>
  </a>

  <!-- 
    - custom js link
  -->
  <script src="../static/script.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>