{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block navbar %}
<div class="container-fluid">
    {% include 'navbar.html' %}
</div>
{% endblock %}
{% block app_content %}
<br>
<div class="container w-50" style="background-color:white">
    <h2>Login</h2>
    <br>
    <form method="POST" ,action="">
        {{form.hidden_tag()}}
        <fieldset>
            <div class="form-group">
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.remember) }}
            </div>
            <button class="btn btn-lg btn-block" style=" background-color:orangered; color:white"
                type="submit">Login</button>
        </fieldset>

    </form>
    <div class="text-centre" style="text-align:center">
        <br>
        <a href="{{ url_for('signup') }}">Not yet registered? Sign up here</a>
    </div>
    <br>
</div>
{% endblock app_content %}
