<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduNexus</title>
    <!--- favicon-->
    <link rel="shortcut icon" href="../static/image/favicon.svg" type="image/svg+xml">

    <!--- custom css link-->
    <link rel="stylesheet" href="../static/navbar.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">

</head>

<body>
    {% if index %}
    <header class="header" data-header>
        <div class="container">
            <h1>
                <a href="{{url_for('index')}}" class="logo">EduNexus</a>
            </h1>
            <nav class="navbar" data-navbar>
                <div class="navbar-top">
                    <a href="{{url_for('index')}}" class="logo">EduNexus</a>

                    <button class="nav-close-btn" aria-label="Close menu" data-nav-toggler>
                        <ion-icon name="close-outline"></ion-icon>
                    </button>
                </div>
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a href="{{url_for('index')}}" class="navbar-link" data-nav-toggler>Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="navbar-link" data-nav-toggler>About</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="navbar-link" data-nav-toggler>Courses</a>
                    </li>
                </ul>
            </nav>
            <div class="header-actions">
                <a href="{{url_for('login')}}" class="header-action-btn login-btn">
                    <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                    <span class="span">Login / Register</span>
                </a>
                <button class="header-action-btn nav-open-btn" aria-label="Open menu" data-nav-toggler>
                    <ion-icon name="menu-outline"></ion-icon>
                </button>
            </div>
            <div class="overlay" data-nav-toggler data-overlay></div>
        </div>
    </header>
    {% elif signup or login %}
    <header class="header" data-header>
        <div class="container">
            <h1>
                <a href="{{url_for('index')}}" class="logo">EduNexus</a>
            </h1>
            <nav class="navbar" data-navbar>
                <div class="navbar-top">
                    <a href="{{url_for('index')}}" class="logo">EduNexus</a>

                    <button class="nav-close-btn" aria-label="Close menu" data-nav-toggler>
                        <ion-icon name="close-outline"></ion-icon>
                    </button>
                </div>
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a href="{{url_for('index')}}" class="navbar-link" data-nav-toggler>Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="navbar-link" data-nav-toggler>About</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="navbar-link" data-nav-toggler>Courses</a>
                    </li>
                </ul>
            </nav>
            <div class="header-actions">
                <a href="{{url_for('login')}}" class="header-action-btn login-btn">
                    <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                    <span class="span">Login / Register</span>
                </a>
                <button class="header-action-btn nav-open-btn" aria-label="Open menu" data-nav-toggler>
                    <ion-icon name="menu-outline"></ion-icon>
                </button>
            </div>
            <div class="overlay" data-nav-toggler data-overlay></div>
        </div>
    </header>

    {% elif home%}
    <header class="header" data-header>
        <div class="container">
            <h1>
                <a href="{{url_for('index')}}" class="logo">EduNexus</a>
            </h1>
            <nav class="navbar" data-navbar>
                <div class="navbar-top">
                    <a href="{{url_for('index')}}" class="logo">EduNexus</a>

                    <button class="nav-close-btn" aria-label="Close menu" data-nav-toggler>
                        <ion-icon name="close-outline"></ion-icon>
                    </button>
                </div>
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a href="{{url_for('home')}}" class="navbar-link" data-nav-toggler>Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{url_for('query')}}" class="navbar-link" data-nav-toggler>Give Prefrences</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{url_for('query2')}}" class="navbar-link" data-nav-toggler>Career/Job Interest</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{url_for('mycourse')}}" class="navbar-link" data-nav-toggler>My Course</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{url_for('history')}}" class="navbar-link" data-nav-toggler>History</a>
                    </li>
                </ul>
            </nav>
            <div class="header-actions">
                <div class="dropdown">
                    <button class="dropbtn">
                        <div class="icons" style="align-content:center">
                            <div id="user-btn" class="fa fa-user"> {% if current_user.username %}
                                {{current_user.name}}{% endif
                                %}</div>
                        </div>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">View profile</a>
                        <a href="{{url_for('logout')}}"><i class="fa fa-logout"></i>Logout</a>
                    </div>
                </div>
                <button class="header-action-btn nav-open-btn" aria-label="Open menu" data-nav-toggler>
                    <ion-icon name="menu-outline"></ion-icon>
                </button>
            </div>
    </header>
    {% elif query%}
    <header class="header" data-header>
        <div class="container">
            <h1>
                <a href="{{url_for('index')}}" class="logo">EduNexus</a>
            </h1>
            <nav class="navbar" data-navbar>
                <div class="navbar-top">
                    <a href="{{url_for('index')}}" class="logo">EduNexus</a>

                    <button class="nav-close-btn" aria-label="Close menu" data-nav-toggler>
                        <ion-icon name="close-outline"></ion-icon>
                    </button>
                </div>
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a href="{{url_for('home')}}" class="navbar-link" data-nav-toggler>Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{url_for('query')}}" class="navbar-link" data-nav-toggler>Give Prefrences</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{url_for('query2')}}" class="navbar-link" data-nav-toggler>Career/Job Interest</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{url_for('mycourse')}}" class="navbar-link" data-nav-toggler>My Course</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{url_for('history')}}" class="navbar-link" data-nav-toggler>History</a>
                    </li>
                </ul>
            </nav>
            <div class="header-actions">
                <div class="dropdown">
                    <button class="dropbtn">
                        <div class="icons" style="align-content:center">
                            <div id="user-btn" class="fa fa-user"> {% if current_user.username %}
                                {{current_user.name}}{% endif %}</div>
                        </div>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">View profile</a>
                        <a href="{{url_for('logout')}}"><i class="fa fa-logout"></i>Logout</a>
                    </div>
                </div>
                <button class="header-action-btn nav-open-btn" aria-label="Open menu" data-nav-toggler>
                    <ion-icon name="menu-outline"></ion-icon>
                </button>
            </div>
        </div>

    </header>

    {% elif query2%}
    <header class="header" data-header>
        <div class="container">
            <h1>
                <a href="{{url_for('index')}}" class="logo">EduNexus</a>
            </h1>
            <nav class="navbar" data-navbar>
                <div class="navbar-top">
                    <a href="{{url_for('index')}}" class="logo">EduNexus</a>

                    <button class="nav-close-btn" aria-label="Close menu" data-nav-toggler>
                        <ion-icon name="close-outline"></ion-icon>
                    </button>
                </div>
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a href="{{url_for('home')}}" class="navbar-link" data-nav-toggler>Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{url_for('query')}}" class="navbar-link" data-nav-toggler>Give Prefrences</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{url_for('query2')}}" class="navbar-link" data-nav-toggler>Career/Job Interest</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{url_for('mycourse')}}" class="navbar-link" data-nav-toggler>My Course</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{url_for('history')}}" class="navbar-link" data-nav-toggler>History</a>
                    </li>

                </ul>
            </nav>
            <div class="header-actions">
                <div class="dropdown">
                    <button class="dropbtn">
                        <div class="icons" style="align-content:center">
                            <div id="user-btn" class="fa fa-user"> {% if current_user.username %}
                                {{current_user.name}}{% endif %}</div>
                        </div>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">View profile</a>
                        <a href="{{url_for('logout')}}"><i class="fa fa-logout"></i>Logout</a>
                    </div>
                </div>
                <button class="header-action-btn nav-open-btn" aria-label="Open menu" data-nav-toggler>
                    <ion-icon name="menu-outline"></ion-icon>
                </button>
            </div>
        </div>
    </header>
    {% elif history%}
    <header class="header" data-header>
        <div class="container">
            <h1>
                <a href="{{url_for('index')}}" class="logo">EduNexus</a>
            </h1>
            <nav class="navbar" data-navbar>
                <div class="navbar-top">
                    <a href="{{url_for('index')}}" class="logo">EduNexus</a>

                    <button class="nav-close-btn" aria-label="Close menu" data-nav-toggler>
                        <ion-icon name="close-outline"></ion-icon>
                    </button>
                </div>
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a href="{{url_for('home')}}" class="navbar-link" data-nav-toggler>Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{url_for('query')}}" class="navbar-link" data-nav-toggler>Give Prefrences</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{url_for('query2')}}" class="navbar-link" data-nav-toggler>Career/Job Interest</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{url_for('mycourse')}}" class="navbar-link" data-nav-toggler>My Course</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{{url_for('history')}}" class="navbar-link" data-nav-toggler>History</a>
                    </li>

                </ul>
            </nav>
            <div class="header-actions">
                <div class="dropdown">
                    <button class="dropbtn">
                        <div class="icons" style="align-content:center">
                            <div id="user-btn" class="fa fa-user"> {% if current_user.username %}
                                {{current_user.name}}{% endif %}</div>
                        </div>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">View profile</a>
                        <a href="{{url_for('logout')}}"><i class="fa fa-logout"></i>Logout</a>
                    </div>
                </div>
                <button class="header-action-btn nav-open-btn" aria-label="Open menu" data-nav-toggler>
                    <ion-icon name="menu-outline"></ion-icon>
                </button>
            </div>
        </div>
    </header>

    {% else %}
    <header class="header" data-header>
        <div class="container">
            <h1>
                <a href="{{url_for('index')}}" class="logo">EduNexus</a>
            </h1>
            <nav class="navbar" data-navbar>
                <div class="navbar-top">
                    <a href="{{url_for('index')}}" class="logo">EduNexus</a>

                    <button class="nav-close-btn" aria-label="Close menu" data-nav-toggler>
                        <ion-icon name="close-outline"></ion-icon>
                    </button>
                </div>
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a href="{{url_for('index')}}" class="navbar-link" data-nav-toggler>Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="navbar-link" data-nav-toggler>About</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="navbar-link" data-nav-toggler>Courses</a>
                    </li>
                </ul>
            </nav>
            <div class="header-actions">
                <a href="{{url_for('login')}}" class="header-action-btn login-btn">
                    <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                    <span class="span">Login / Register</span>
                </a>
                <button class="header-action-btn nav-open-btn" aria-label="Open menu" data-nav-toggler>
                    <ion-icon name="menu-outline"></ion-icon>
                </button>
            </div>
            <div class="overlay" data-nav-toggler data-overlay></div>
        </div>
    </header>
    {% endif %}

    <script src="../static/script.js" defer></script>
    <!--
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>