:root {
  --ultramarine-blue_10: hsla(235, 70%, 60%, 0.1);
  --ultramarine-blue: hsl(235, 70%, 60%);
  --orange-peel_10: hsla(36, 100%, 55%, 0.1);
  --space-cadet_20: hsla(248, 32%, 23%, 0.2);
  --space-cadet_80: hsla(247, 35%, 19%, 0.8);
  --space-cadet-2: hsl(247, 35%, 19%);
  --old-lavender: hsl(251, 9%, 46%);
  
  --white: hsl(0, 0%, 100%);
  }
  .btn-primary {
    background-color: var(--ultramarine-blue);
    color: var(--white);
  }
  
  .btn-primary:is(:hover, :focus) {
    background-color: var(--space-cadet-2);
  }
  .container {
  
  
    display: grid;
    height: 110vh;
    width: 300vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    /* padding: 10px; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }
  
  body {
    padding: 0%;
    margin-top: 70px;
    background-color: rgb(223, 231, 231);
  }
  
  .medium-up-head-1 {
    margin-top: 3%;
    margin-left: 5%;
    color: #0a2540;
    font-family: Source Sans Pro, sans-serif;
    font-size: 27px;
    font-weight: 550;
    line-height: 100%;
  
  
  
  }
  
  .rateme {
  
    margin-left: 10%;
  }
  
  .prvde {
    margin-left: 5%;
    font-size: 20px;
    font-family: Source Sans Pro, sans-serif;
    color: gray;
    margin-bottom: 0%;
  }
  .prvde1 {
    margin-left: 5%;
    font-size: 20px;
    font-family: Source Sans Pro, sans-serif;
    padding-top: 1%;
    padding-bottom: 10%;
  }
  
  .medium-up-head-2 {
    margin-top: 3%;
    margin-left: 15%;
    /* margin-right: 20%; */
    color: #0a2540;
    font-family: Source Sans Pro, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 103%;
  
  }
  
  .medium-up-head-3 {
    margin-top: 3%;
    margin-left: 3%;
  
  
    color: #0a2540;
    font-family: Source Sans Pro, sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 100%;
  
  
  }
  
  .medium-up-head-100 {
    margin-top: 5%;
    margin-left: 7%;
  
    font-family: Source Sans Pro, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 103%;
    margin-bottom: 0%;
    text-decoration: underline;
    text-decoration-color: black;
  }
  
  .save-button {
    position: relative;
    padding: 10px 20px;
    background-color: var(--ultramarine-blue);
    color: var(--white);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .save-button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    border-radius: 4px 0 0 4px;
  }
  
  .save-button:is(:hover, :focus) {
    background-color: var(--space-cadet-2);
  }
  .save-button:active::before {
  
      background-color: var(--space-cadet-2);
  }
  
  
  .containeratol {
    justify-content: center;
  }
  
  .oval-button {
    display: inline-block;
    margin-left: -15%;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: var(--ultramarine-blue);
    color: var(--white);
    border: none;
    font-size: 16px;
    font-weight: bold;
  
  
    text-decoration: none;
  }
  
  .oval-button:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
    vertical-align: middle;
  }
  .oval-button:is(:hover, :focus) {
    background-color: var(--space-cadet-2);
  }
  .course-header-actions {
    display: block;
    order: 0;
  }
  
  .mark-complete-button {
    display: inline-block;
  
    padding: 10px 10px;
    border-radius: 5px;
    background-color: var(--ultramarine-blue);
    color: var(--white);
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }
  
  .mark-complete-button:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
  
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
    vertical-align: middle;
  }
  .mark-complete-button:is(:hover, :focus) {
    background-color: var(--space-cadet-2);
  }
  .write-review-button_0{
    background-color: var(--ultramarine-blue);
    color: var(--white);
    border: 1px solid #000000;
  
    margin-left: 6%;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 2px 5px;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    overflow: auto;
    flex: 1;
  

  }
  .write-review-button_0:is(:hover, :focus) {
    background-color: var(--space-cadet-2);
  }
  .write-review-button {
    background-color: var(--ultramarine-blue);
    color: var(--white);
    border: 1px solid #000000;
  
    margin-left: 6%;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 2px 5px;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    overflow: auto;
    flex: 1;
  }
  .write-review-button:is(:hover, :focus) {
    background-color: var(--space-cadet-2);
  }
  
  .kkk {
    margin-top: 5%;
    margin-left: 0%;
  }
  
  img {
    width: 350px;
    height: 300px;
    padding: 5% 2% 5% 5%;
  }
  
  .go_to {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-left: 18%;
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
    background-color: var(--ultramarine-blue);
    color: var(--white);
    border: none;
    padding: 2% 15% 2% 15%;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
  }
  
  .go_to:is(:hover, :focus) {
    background-color: var(--space-cadet-2);
    text-decoration: none;
  }
  
  .icon {
    font-size: 50px;
  }
  
  
  .my-list {
    display: flex;
    flex-direction: column;
  }
  
  .my-list>div {
    padding: 10px;
    border-bottom: 1px solid gainsboro;
  }
  
  .my-list>div:last-child {
    border-bottom: none;
  }
  
  
  .medium-up-hidden {
    display: none !important;
  }
  
  .relative {
    position: relative !important;
  }
  
  .row.vert-align-middle {
    align-items: center;
    display: flex;
  }
  
  .button-list {
    display: flex;
    margin-left: 0.09%;
    list-style: none;
    /* Remove default list style */
  
  }
  
  .button-list li {
    margin: 0;
  }
  
  .item {
    background-color: #ffff;
  
  }
  
  .i1 {
  
    grid-column: 1/span 2;
    /* grid-row: 1/span 2; */
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
  
  }
  
  .i2 {
    grid-row: 1/span 3;
    grid-column: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
  }
  
  .i3 {
    grid-column: 1/span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
  }