.container{
    background-color: brown;
    display: grid;
    height: 120vh;
    width: 300vh;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}
body{
    padding: 0%;
    margin: 0px;
}

.item{
    background-color: aqua;
    
}
.i1{
    grid-column: 1/span 2;
    grid-row: 1;
  
}
.i2{
   grid-row: 1/span 3;
   grid-column: 3;
  
}
.i3{
    grid-column:1/span 2;
}